@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500&display=swap");

:root {
  --primary: #ead7c7;
  --heading: #002939;
  --btn: #50ffb1;
  --fontFamily: "Montserrat Alternates", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  color: var(--heading);
}

h1 {
  font-size: 40px;
}

h2 {
  font-weight: 500;
}

body {
  height: 100vh;
  background: var(--primary);
  color: var(--heading);
  font-family: var(--fontFamily);
  overflow-x: hidden;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--heading);
}

.navbar > h2 {
  margin: 0.3em 1em;
}

.navWrapper {
  display: flex;
  align-items: flex-end;
}

.navWrapper > div {
  margin: 0.5em 1em;
}

.namePhotoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.namePhotoContainer > img {
  height: 3em;
  border-radius: 50%;
}

.hamburger {
  display: none;
  margin: 0.5em auto;
}

.hamburger > div {
  height: 4px;
  margin: 3px 0;
  width: 35px;
  background: var(--heading);
  transition: 0.3s ease all;
}

.progressBar {
  height: 5px;
  background: var(--heading);
  margin-top: 20px;
}

.imageSection {
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
  border: 3px solid var(--heading);
  border-radius: 10px;
}

form {
  margin: 30px auto 10px;
  text-align: center;
}

label input {
  height: 0;
  width: 0;
  opacity: 0;
}

label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--heading);
  border-radius: 50%;
  margin: 10px auto;
  color: var(--heading);
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s ease all;
}

label:hover {
  background-color: var(--btn);
  border-radius: 0%;
  cursor: pointer;
}

.grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.imgContainer {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  margin: 3px;
  position: relative;
  opacity: 0.8;
  transition: 0.2s ease-in all;
}

.imgContainer img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

.imgContainer:hover {
  opacity: 1;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.356);
}

.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.356);
  border: 2px solid rgb(230, 230, 230);
}

.authBtns {
  background: none;
  color: var(--heading);
  font-size: 1rem;
  font-weight: bold;
  border: 2px solid var(--heading);
  border-radius: 10px;
  padding: 0.5rem;
  transition: 0.2s ease-in all;
}

.authBtns:hover {
  background: var(--btn);
  border-radius: 0;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.signInHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.signInHeader > p {
  margin: 1em 0;
}

.footer {
  position: sticky;
  top: 100%;
  height: 60px;
  margin-top: 15px;
  background: #c5af9d;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px 15px 0 0;
}

.footer p {
  font-size: 23px;
}

.footer p a {
  color: rgb(0, 108, 151);
  transition: 0.2s ease all;
  font-weight: bold;
}

.footer p a:hover {
  color: var(--btn);
  cursor: pointer;
}

@media screen and (max-width: 542px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 518px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navWrapper {
    flex-direction: column;
    align-items: center;
  }
  .namePhotoContainer {
    align-items: center;
  }
  .hamburger {
    display: block;
  }
}

@media screen and (max-width: 390px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes imgOpacity {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}
